// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* universal */

/* typography */

/* header */

/* footer */

/* mixins, variables, etc. */

/* miscellaneous */

/* sidebar */

/* forms */

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #f7f7f7;
  }
}