<hr>
<footer class="footer">
  <small class="float-left mt-2">
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul class="nav justify-content-end">
      <li class="nav-item"><%= link_to "About",   about_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Contact", contact_path, class: 'nav-link' %></li>
      <li class="nav-item"><a href="http://news.railstutorial.org/" class="nav-link">News</a></li>
    </ul>
  </nav>
</footer>